# https://electronics.stackexchange.com/questions/170563/lattice-diamond-gitignore

*.html
*.htm
impl*/
*.xml
.build_status
.*.ini
.recovery
*.dir/
.vdbs/
*.log
*_log
*.tcl
*.ccl
*.srp
*.dmp
._Real_._Math_.vhd

.DS_Store/
*.swp
*.bak
.vs/
.vscode/
.idea/
~*
*_tcr.dir
*.tpf
*.svf
*.trc

*.alt
*.bgn
*.drc
*.hrr
*.ior
*.bit
*.jed
*.mrp
*.ncd
*.ngd
*.pad
*.par
*.prf
*.tw1
*.twr
*.cam
*.sdf
*.vo
*_prim.v
*.mt
*.pt
*.p2t
*.p3t
*.t2b
*.arearep
*.tpf.*
xxx_lse_cp_file_list
xxx_lse_sign_file
*.sty
*.asd
*.synproj
*.xcf
*.lsedata
