BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

//FREQUENCY NET "osc_clk_inferred_clock" 40.00000 MHz;

BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;

IOBUF ALLPORTS IO_TYPE=LVCMOS33;

LOCATE COMP "RUN" SITE "21";
//LOCATE COMP "STEP" SITE "24";
LOCATE COMP "STEPEN" SITE "25";
LOCATE COMP "SRAMCS0" SITE "27";
LOCATE COMP "SRAMCS1" SITE "28";
LOCATE COMP "PROMCS0" SITE "29";
LOCATE COMP "PROMCS1" SITE "30";

LOCATE COMP "CPUCLK" SITE "34";
//LOCATE COMP "MCLK" SITE "35";
