BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "AS_n" SITE "1" ;
LOCATE COMP "LDS_n" SITE "2" ;
LOCATE COMP "UDS_n" SITE "3" ;
LOCATE COMP "DTACK_n" SITE "7" ;
LOCATE COMP "BR_n" SITE "9" ;
LOCATE COMP "RESET_n" SITE "10" ;
LOCATE COMP "HALT_n" SITE "12" ;
LOCATE COMP "AVEC_n" SITE "13" ;
LOCATE COMP "BERR_n" SITE "14" ;
LOCATE COMP "IPL0_n" SITE "17" ;
LOCATE COMP "IPL1_n" SITE "16" ;
LOCATE COMP "IPL2_n" SITE "15" ;
LOCATE COMP "RUN" SITE "21" ;
//LOCATE COMP "STEP_n" SITE "24";
LOCATE COMP "STEPEN_n" SITE "25" ;
LOCATE COMP "SRAMCS0_n" SITE "27" ;
LOCATE COMP "SRAMCS1_n" SITE "28" ;
LOCATE COMP "PROMCS0_n" SITE "29" ;
LOCATE COMP "PROMCS1_n" SITE "30" ;
LOCATE COMP "SPICLK" SITE "31" ;
LOCATE COMP "SPISO" SITE "32" ;
LOCATE COMP "CPUCLK" SITE "34" ;
LOCATE COMP "MCLK" SITE "35" ;
LOCATE COMP "OE_n" SITE "36" ;
//LOCATE COMP "SPISI" SITE "49" ;
LOCATE COMP "A0" SITE "37" ;
LOCATE COMP "A1" SITE "38" ;
LOCATE COMP "A2" SITE "39" ;
LOCATE COMP "A3" SITE "40" ;
LOCATE COMP "A4" SITE "41" ;
LOCATE COMP "A5" SITE "42" ;
LOCATE COMP "A6" SITE "43" ;
LOCATE COMP "A7" SITE "45" ;
LOCATE COMP "A8" SITE "47" ;
LOCATE COMP "A9" SITE "51" ;
LOCATE COMP "A10" SITE "52" ;
LOCATE COMP "A11" SITE "53" ;
LOCATE COMP "A12" SITE "54" ;
LOCATE COMP "A13" SITE "57" ;
LOCATE COMP "A14" SITE "58" ;
LOCATE COMP "A15" SITE "59" ;
LOCATE COMP "A16" SITE "60" ;
LOCATE COMP "A17" SITE "62" ;
LOCATE COMP "A18" SITE "63" ;
LOCATE COMP "A19" SITE "64" ;
LOCATE COMP "A20" SITE "65" ;
LOCATE COMP "A21" SITE "66" ;
LOCATE COMP "A22" SITE "67" ;
LOCATE COMP "A23" SITE "68" ;
LOCATE COMP "D0" SITE "99" ;
LOCATE COMP "D1" SITE "98" ;
LOCATE COMP "D2" SITE "97" ;
LOCATE COMP "D3" SITE "96" ;
LOCATE COMP "D4" SITE "88" ;
LOCATE COMP "D5" SITE "87" ;
LOCATE COMP "D6" SITE "86" ;
LOCATE COMP "D7" SITE "85" ;
LOCATE COMP "D8" SITE "84" ;
LOCATE COMP "D9" SITE "83" ;
LOCATE COMP "SPISS_n" SITE "82" ;
LOCATE COMP "D10" SITE "78" ;
LOCATE COMP "D11" SITE "75" ;
LOCATE COMP "D12" SITE "74" ;
LOCATE COMP "D13" SITE "71" ;
LOCATE COMP "D14" SITE "70" ;
LOCATE COMP "D15" SITE "69" ;
USE SECONDARY NET "MCLK" ;
FREQUENCY PORT "MCLK" 40.000000 MHz ;
FREQUENCY PORT "SPICLK" 1.000000 MHz ;
IOBUF PORT "HALT_n" PULLMODE=NONE OPENDRAIN=ON ;
IOBUF PORT "RESET_n" PULLMODE=NONE OPENDRAIN=ON ;
IOBUF PORT "CPUCLK" SLEWRATE=FAST PULLMODE=NONE ;
IOBUF PORT "MCLK" PULLMODE=NONE ;
IOBUF PORT "AVEC_n" PULLMODE=UP ;
IOBUF PORT "BERR_n" PULLMODE=UP ;
IOBUF PORT "BR_n" PULLMODE=UP ;
IOBUF PORT "DTACK_n" PULLMODE=UP ;
IOBUF PORT "IPL0_n" PULLMODE=UP ;
IOBUF PORT "IPL1_n" PULLMODE=UP ;
IOBUF PORT "IPL2_n" PULLMODE=UP ;
IOBUF PORT "OE_n" PULLMODE=UP ;
IOBUF PORT "PROMCS0_n" PULLMODE=UP ;
IOBUF PORT "PROMCS1_n" PULLMODE=UP ;
IOBUF PORT "SRAMCS0_n" PULLMODE=UP ;
IOBUF PORT "SRAMCS1_n" PULLMODE=UP ;
IOBUF PORT "RUN" PULLMODE=DOWN ;
IOBUF PORT "AS_n" PULLMODE=UP ;
IOBUF PORT "LDS_n" PULLMODE=UP ;
IOBUF PORT "UDS_n" PULLMODE=UP ;
IOBUF PORT "SPISS_n" PULLMODE=UP ;
IOBUF PORT "SPISO" PULLMODE=NONE ;
